---
import Global from "../layouts/global.astro";
import Button from "../components/button.astro";
import Card from "../components/card.astro";
import "../styles/global.css";
---

<Global>
	<header class="flex flex-center flex-row items-center full">
		<!-- <section id="header-container-left" class="flex flex-center flex-col">

		</section> -->
		<section id="header-container-center" class="flex flex-center flex-col">
			<h1 id="hero-text" class="flex">CSU FRESNO IEEE</h1>
			<p id="hero-text-sub">
				<em>Empowering the next generation of engineers</em>
			</p>
			<section id="cta-container" class="flex flex-row flex-center">
				<Button href="/membership">Become a Member</Button>
				<Button href="#events" variant="secondary">View Events</Button>
			</section>
		</section>
		<!-- <section id="header-container-right" class="flex flex-center flex-col">

		</section> -->
	</header>
	<section id="content-container">
		<section id="about-container" class="flex flex-col">
			<h2>About IEEE Fresno State</h2>
			<hr />
			<section id="about-content" class="flex flex-col flex-around">
				<section class="flex flex-row flex-center">
					<Card heading="Something" subText="Info" buttonText="Register" variant="primary">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque doloremque quasi quaerat quo est, eveniet fuga molestias, libero labore nam sed animi beatae, modi exercitationem soluta odio cum maiores quod.
				</Card>
				<Card heading="Something" subText="Info" buttonText="Register" variant="primary">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque doloremque quasi quaerat quo est, eveniet fuga molestias, libero labore nam sed animi beatae, modi exercitationem soluta odio cum maiores quod.
				</Card>
				<Card heading="Something" subText="Info" buttonText="Register" variant="primary">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque doloremque quasi quaerat quo est, eveniet fuga molestias, libero labore nam sed animi beatae, modi exercitationem soluta odio cum maiores quod.
				</Card>
				</section>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Ipsa placeat porro facilis error incidunt, vero ducimus
					mollitia impedit illo cumque, et possimus dolor hic magnam
					nihil praesentium assumenda fuga adipisci!
				</p>
			</section>
		</section>
		<section id="events">
			<h2>Upcoming Events</h2>
			<hr />
			<section id="event-split" class="flex flex-center">
			<section class="event-col flex flex-center flex-col flex-1">
				<Card heading="3/20" subText="Important Event" buttonText="Register" variant="event">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque doloremque quasi quaerat quo est, eveniet fuga molestias, libero labore nam sed animi beatae, modi exercitationem soluta odio cum maiores quod.
				</Card>
				<Card heading="3/27" subText="Important Event" buttonText="Register" variant="event">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis cum deleniti ducimus deserunt quidem, sapiente modi similique asperiores excepturi, accusamus blanditiis officiis voluptas! Iusto consequuntur nemo deserunt natus aliquam. Cupiditate?
				</Card>
				<Card heading="4/9" subText="Important Event" buttonText="Register" variant="event">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos error laborum dolore non impedit porro dolores eligendi adipisci, iusto atque tempora? Veritatis voluptatum distinctio esse ab facere officia aliquid corrupti?
				</Card>
			</section>
			<section class="event-col flex flex-center flex-col flex-1">
				<Card heading="3/20" subText="Important Event" buttonText="Register" variant="event">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque doloremque quasi quaerat quo est, eveniet fuga molestias, libero labore nam sed animi beatae, modi exercitationem soluta odio cum maiores quod.
				</Card>
				<Card heading="3/27" subText="Important Event" buttonText="Register" variant="event">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis cum deleniti ducimus deserunt quidem, sapiente modi similique asperiores excepturi, accusamus blanditiis officiis voluptas! Iusto consequuntur nemo deserunt natus aliquam. Cupiditate?
				</Card>
				<Card heading="4/9" subText="Important Event" buttonText="Register" variant="event">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos error laborum dolore non impedit porro dolores eligendi adipisci, iusto atque tempora? Veritatis voluptatum distinctio esse ab facere officia aliquid corrupti?
				</Card>
			</section>
			</section>
		</section>
		<section id="contacts">
			<h2>Contacts</h2>
			<hr />
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
				iusto, aperiam, quidem aspernatur ipsa reiciendis cupiditate
				optio atque corporis repellendus fugiat dicta enim, dolore nulla
				commodi tempora dolor soluta exercitationem!
			</p>
		</section>
		<section id="projects">
			<h2>Featured Projects</h2>
			<hr />
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Excepturi obcaecati alias sequi, voluptatem ullam rem quo nam
				ipsam reiciendis autem illum quisquam enim necessitatibus
				incidunt iusto, saepe sint voluptas vel?
			</p>
		</section>
	</section>
</Global>

<style>
	body {
		height: 500vh;
	}
	#hero-text {
		font-weight: 1000;
		font-size: 4.5rem;
		text-align: center;
	}
	#hero-text-sub {
		text-align: center;
	}
	header {
		height: 75vh;
	}
	#cta-container {
		height: 25vh;
		gap: 0.5rem;
	}
	#about-content {
		gap: 2.5rem;
	}
	#about-content p {
		/* text-align: justify; */
	}
	#content-container > section {
		padding-bottom: 2rem;
	}
	.event-col{
		gap: 1.5rem;
	}
	#event-split{
		gap: 1.5rem;
	}
	
</style>
