---
interface Props {
    heading : string;
    buttonText : string;
    subText? : string;
    href?: string;
    variant?: "primary" | "button" | "event";
}

const { heading = "Card", variant = "primary", buttonText = "Button",href ="#", subText=""} = Astro.props;

import Button from "../components/button.astro"

import "../styles/global.css";

---

<section class={"card flex flex-1 "+"card-"+variant}>
    <section class="card-container flex items-start flex-col justify-center flex-1">
        <h2>{heading}</h2>
        <hr class="full">
        <section id="content" class="flex flex-col flex-1">
            <h3 class="flex">{subText}</h3>
            <p>
                <slot/>
            </p>
            <section id="card-btns" class="card-btns flex justify-end">
                <Button href={href}>{buttonText}</Button>
            </section>
        </section>
        
    </section>
</section>

<style>
    .card-container > hr{
        margin: 0 0 0 0;
        border: .1rem dashed var(--color-primary);

    }
    .card #card-btns{
        display: none;
    }
    .card-button #card-btns{
        
        display: flex;

    }

    .card-event #card-btns{
        
        padding-top: 1rem;
        display: flex;

    }
    .card-event #card-btns{
        width: fit-content;
    }
    
    
    .card-event > .card-container > hr{
        width: 0px;
        padding: 0;
        height: 100%;
        margin: 0 1rem 0 1rem;

    }
    .card-event > .card-container{
        flex-direction: row;
        align-items: center;
    }
    .card-event > .card-container > *{

    }
    .card-container > p{

    }
    #content{
        padding: 1rem;
    }
    .card-container{
        background: transparent;
        /* color: var(--color-primary); */
        border: 0.095rem solid var(--color-primary);
        border-radius: var(--radius);
        /* padding: 1rem; */
    }
    .card-container > .card-btns{
        display:none;
    }
    .card-container > *{
    }
    .card-container > h2{
        padding: 1rem 0 1rem 1rem;
        text-align: center;
    }
    .card-event > .card-container > h2{
        text-align: center;
        width: 5rem;
    }
</style>